/*------------------------------------*\
    $Base / Version mobile
\*------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

a {
  transition: all 0.1s ease-in;
}

/* En-tête */

header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

header > nav {
  padding: 0;
}

.material-symbols-outlined {
  font-size: 2rem;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}

header a,
nav a {
  color: white;
  text-decoration: none;
}

header a:hover,
nav a:hover {
  color: #006eff;
}

header nav {
  flex-direction: row;
  gap: 1rem;
}

nav {
  flex-direction: column;
  align-items: start;
  gap: 0.7rem;
  text-transform: uppercase;
}

/* Aside */

#tri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.tri-collection label {
  text-transform: uppercase;
  color: #666;
  margin-bottom: 5px;
  font-size: 12px;
}

/* Articles */

#produits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

article {
  position: relative;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

article:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

article a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
}

.article-image img {
  max-width: 150px; /* Afin d'éviter les débordement des images */
}

.article-infos h5,
h6 {
  color: black;
}

.article-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.article-overlay span {
  display: none;
  position: absolute;
  padding: 0.5rem;
  color: white;
  background-color: #006eff;
}

article .article-overlay:hover span {
  cursor: pointer;
  display: initial;
}

/* Pied de page */

footer {
  padding: 1rem;
  background-color: black;
  color: #aaa;
  line-height: 2rem;
}

footer a {
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer h3 {
  text-transform: uppercase;
}

footer li,
p {
  list-style: none;
  font-size: 1rem;
}

footer section {
  padding: 1rem;
}

.credit {
  text-align: center;
}

/*------------------------------------*\
    $Version Very Small Screen
\*------------------------------------*/

@media (max-width: 380px) {
  #produits {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*------------------------------------*\
    $Version Tablette
\*------------------------------------*/

@media (min-width: 480px) and (max-width: 960px) {
  nav {
    flex-direction: row;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  #tri {
    flex-direction: column;
    gap: 0.5rem;
  }

  .tri-collection {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

/*------------------------------------*\
    $Version Desktop
\*------------------------------------*/

@media (min-width: 960px) {
  #conteneur {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 2fr min-content;
  }

  header {
    grid-area: span 1 / span 3;
  }

  nav {
    justify-content: start;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  article a {
    justify-content: center;
  }

  aside {
    order: 2;
  }

  #tri {
    flex-direction: column;
    gap: 0.5rem;
  }

  .tri-collection {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  footer {
    grid-area: span 3 / span 3;
  }

  #footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content;
  }
}

/*------------------------------------*\
    $Importations
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
